Flask
Flask-SQLAlchemy
Flask-Login
qrcode
Pillow
gunicorn
Werkzeug
psycopg2-binary
Flask-Migrate
alembic
Authlib==1.3.0
Flask-Mail==0.9.1
python-dotenv
python-dateutil
openpyxl
python-docx
matplotlib
sendgrid