.dog-card {
    transition: transform 0.15s ease, box-shadow 0.2s ease;
}

.dog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

/* LEFT IMAGE FULL HEIGHT */
.dog-img-wrapper {
    height: 100%;
}

.dog-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* QR box */
.qr-preview img {
    display: block;
    margin: 0 auto;
}
.qr-preview {
    text-align: center;
    margin-top: 15px;
}